.Form{  



    border: 2px solid orange ;



    border-radius: 5px;



    padding: 5px 5px;



    box-sizing: border-box;



    width: 500px;



    margin:50px auto;



    background-color:white;







}



hr{



    border-top: 1px solid black;



}



h1{



    font-size:x-large;



    text-align: center;



    color: orange;  



}



h6{



    font-weight: normal;



    text-align: center;



    font-size:small;



}







#input{



    font-size: small;



    width: 470px;



    border: 1px solid black;



    border-radius:2px;



}



#Time{



    font-size: small;



    width: 235px;



    height: 19px;



    border: 1px solid black;



    border-radius:2px;



}



#button{



    background-color: orange;



    color: whitesmoke;



    width: 470px;



    border: 6px solid orange;



    border-radius: 4px;



}



label{



    font-size: small;



}

